name: Werewolf Chat Relay
on:
  workflow_dispatch: # Allows you to start it manually
  schedule:
    - cron: '0 */6 * * *' # Restarts every 6 hours to keep it fresh

jobs:
  run-relay:
    runs-with: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: npm install tmi.js socket.io-client
      - name: Start Relay
        env:
          STREAMLABS_TOKEN: ${{ secrets.STREAMLABS_TOKEN }}
          TWITCH_AUTH: ${{ secrets.TWITCH_AUTH }}
        run: node relay.js
